*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Uchen', serif;
}
.all-content{
    background: #070907;
}
/* navbar */
#navbar{
    background-color: #182d17;
    padding-left: 60px;
    font-weight: bold;
}
#logo{
    font-size: 23px;
    color: white;
}
#logo img{
    margin-bottom: 15px;
}
.navbar-nav{
    margin-left: 10px;
}
.nav-link{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-left: 15px;
    transition: 0.5s ease;
}
.nav-link:hover{
    background-color: rgb(11, 58, 3);
    color: white;
    border-radius: 5px;
}
.icons{
    margin-left: 30px;
}
.icons img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.icons img:hover{
    transform: translateY(-5px);
}
@media screen and (max-width:330px){
    #logo{
        font-size: 15px;
    }
}
/* navbar end */
/* home section */
.home{
    width: 100%;
    height: 88.5vh;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./image/background2.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}
.home .img{
    flex: 1 1 400px;
}
.home .img img{
    width: 100%;
}
.home .content{
    flex: 1 1 400px;
    margin-left: 60px;
}
.content h3{
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
.content h2{
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}
.changecontent::after{
    content: ' ';
    color: rgba(161,109,14,1);
    animation: changetext 10s infinite linear;
    font-weight: bold;
}
.content p{
    color: white;
    font-size: 35px;
    font-family: Calibri;
    /* font-weight: bold; */
    text-shadow: 1px 1px 1px black;
    line-height: 35px;
}
    .details-box {
        background-color: #182d17;
        border: 1px solid #182d17;
        color: white;
        padding: 10px;
        margin-top: 10px;
        display: none;
    }
@media screen and (max-width:800px){
    .content h3{
        font-size: 50px;
    }
}
@media screen and (max-width:860px){
    .home{
        height: 120vh;
    }
}
@media screen and (max-width:560px){
    .home{
        height: 100vh;
    }
}
@media screen and (max-width:330px){
    .content h2{
        font-size: 30px;
    }
    .content h3{
        font-size: 30px;
    }
}
/* home section end */

/* top cards */
#box{
    margin-top: 50px;
}
#box .card-1{
    box-shadow: 0px 0px 5px black;
    margin-top: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
#box .card{
    box-shadow: 0px 0px 5px black;
    margin-top: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
#box .card:hover{
    transform: translateY(-10px);
}
/* top cards end */

/* Park cards */
#product-cards h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid rgb(255, 255, 255);
}
#product-cards .card{
    background-color: #182d17;
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    cursor: pointer;
}
#product-cards h3{
    color: white;
    text-shadow: 1px 1px 1px black;
}
#product-cards p{
    color: #ffffff;
    font-weight: 200;
}
#product-cards h6{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
#product-cards h6 span button{
    width: 100px;
    height: 26px;
    font-size: 15px;
    background: transparent;
    letter-spacing: 3px;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    float: left;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
#product-cards h6 span button:hover{
    background-color: black;
    color: white;
}

/* Park cards end */

/* gallary */
#gallary{
    margin-top: 50px;
}
#gallary h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid rgb(255, 255, 255);
}
#gallary .card{
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}
#gallary .overlay{
    opacity: 0;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 1px black;
}
#gallary .card:hover .overlay{
    opacity: 5;
    margin-top: 20%;
    transition: 0.5s ease;
}
/* gallary */

/* about */
#about{
    margin-top: 50px;
}
#about h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid rgb(255, 255, 255);
}

#about .card{
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px black;
}
#about p{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}
#bt button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
}
@media screen and (max-width:1000px){
    #about p{
        font-size: 10px;
    }
}
@media screen and (max-width:760px){
    #about p{
        font-size: 20px;
    }
}
/* about */

/* contact */
#contact{
    margin-top: 100px;
}
#contact h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid rgb(255, 255, 255);
}
#contact input{
    background-color: rgb(0, 0, 0);
}
#contact input::placeholder{
    color: white;
}
#contact textarea{
    background-color: rgb(0, 0, 0);
}
#contact textarea::placeholder{
    color: white;
}
#messagebtn{
    text-align: center;
}
#messagebtn button{
    width: 200px;
    height: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    background: transparent;
    border: 2px solid white;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
#messagebtn button:hover{
    background-color: rgb(255, 255, 255);
}
/* contact */

/* footer */
#footer{
    width: 100%;    
    background-color: #182d17;
    box-shadow: 0px 0px 5px black;
    margin-top: 100px;
}
#footer h1{
    color: white;
    padding-top: 30px;
}
#footer p{
    color: white;
}
.icons i{
    background-color: white;
    color: #000000;
    border-radius: 50px;
    padding: 6px;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
}
.icons i:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.copyright{
    color: white;
    margin-top: 20px;
}
.credite{
    color: white;
}
/* footer */
html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}